<div class="flex items-center justify-between profile-info">
	<div class="profile-info__label">
		{{label}}
	</div>
	<div class="profile-info__value relative">
		{{{textInput}}}
		{{{errorMessage}}}
	</div>
</div>