<html>
    <head>
    </head>
    <body>
		<ul>
        <li><a href="src/views/pages/signin/index.hbs">Вход</a></li>
        <li><a href="src/views/pages/signup/index.hbs">Регистрация</a></li>
        <li><a href="src/views/pages/profile/index.hbs">Профиль</a></li>
        <li><a href="src/views/pages/profile-edit/index.hbs">Профиль изменить данные</a></li>
        <li><a href="src/views/pages/profile-password-change/index.hbs">Профиль изменить пароль</a></li>
<!--        <li><a href="src/views/templates/main/index.hbs">main</a></li>-->
<!--        <li><a href="src/views/templates/card/index.hbs">card</a></li>-->
		</ul>
    </body>
</html>
