<!DOCTYPE html>
id: root
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Главная</title>
		<script src="src/index.js" type="module"></script>
	</head>
	<body>
	<div id="{{ id }}"></div>
	</body>
</html>