<html>
    <head>
    </head>
    <body>
        <a href="src/views/pages/signin/index.hbs">Вход</a>
        <a href="src/views/pages/signup/index.hbs">Регистрация</a>
        <a href="src/views/pages/profile/index.hbs">Профиль</a>
        <a href="src/views/templates/main/index.hbs">main</a>
        <a href="src/views/templates/card/index.hbs">card</a>
    </body>
</html>
