<!DOCTYPE html>
id: "root2"
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<script src="src/index.js" type="module"></script>
	</head>
	<body>
		<div id="root"></div>
	<div id="{{id}}"></div>
	</body>
</html>