.skeleton-1 {
  border-radius: 50%;
  z-index: 0;
  left: 377.5px;
  top: 14.5px;
  position: absolute;
  width: 101px;
  height: 93px;
  background-color: rgb(228, 228, 228);
}

.skeleton-2 {
  z-index: 1;
  left: 238.5px;
  top: 126px;
  position: absolute;
  width: 373px;
  height: 34px;
  background-color: rgb(228, 228, 228);
}

.skeleton-3 {
  z-index: 2;
  left: 238.5px;
  top: 174.5px;
  position: absolute;
  width: 372px;
  height: 32px;
  background-color: rgb(228, 228, 228);
}

.skeleton-4 {
  z-index: 3;
  left: 239.5px;
  top: 222.5px;
  position: absolute;
  width: 371px;
  height: 32px;
  background-color: rgb(228, 228, 228);
}

.skeleton-5 {
  z-index: 4;
  left: 237.5px;
  top: 268.5px;
  position: absolute;
  width: 372px;
  height: 35px;
  background-color: rgb(228, 228, 228);
}
