<!--	<p class="chat__not-selected-chat-text">Выберите чат чтобы отправить сообщение!</p>-->
<div class="chat__content-active flex flex-col full-w">
	{{{chatContentHeader}}}
	{{{chatContentMessages}}}
	{{{chatContentInputs}}}
	{{{addUserPopup}}}
</div>

