.chat-item {
  padding: 12px 10px;
}
.chat-item::before {
  content: '';
  position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
  border-top: 1px solid $color-grey-border;
}

.chat-item__avatar {
  border-radius: 50px;
  width: 47px;
  height: 47px;
  background-color: $color-grey-light-2;
  margin-right: 10px;
}

.chat-item__name {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
}

.chat-item__last-msg-text {
  font-size: 12px;
  color: $color-grey;
  height: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}