.chat-message {
  padding: 10px;
  background-color: $color-grey-light-3;
  border-radius: 10px;
}

.chat-message_text {
  max-width: 400px;
  min-width: 200px;
  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 10px;
    float: right;
  }
}

.chat-message_media {
  background-color: $color-white;
  border: 1px solid $color-grey-border;
  max-width: 316px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.chat-message_own {
  background-color: $color-bg-primary-hover;
  border-bottom-right-radius: 0;
}

.chat-message__date {
  font-size: 9px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $color-grey;
}

.chat-message_own .chat-message__date {
  color: $color-primary;
}

.chat-message_media .chat-message__date {
  background-color: rgba($color-grey-2, 0.5);
  border-radius: 30px;
  color: #fff;
  font-size: 9px;
  padding: 2px 7px;
  line-height: 1;
}
