.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.mt-auto {
  margin-top: auto;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.error {
  color: $color-red;
}

.full-h-w {
  width: 100%;
  height: 100%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.reset-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.text-right {
  text-align: right;
}

.border-none {
  border: none 0;
}

.table {
  display: table;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.items-justify-center {
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mb-15 {
  margin-bottom: 15px;
}
