$dark-color: #1e1e1e;
$color-black: #000;
$color-white: #fff;
$color-primary: #3369f3;
$color-grey: #999;
$color-grey-2: #525252;
$color-grey-light: #fbfbfb;
$color-grey-light-2: #efefef;
$color-grey-light-3: #f8f8f8;
$color-grey-light-4: #f4f4f4;
$color-grey-border: #eaeaea;
$color-red: #ff2f2f;
$color-bg-primary-hover: #e4edfd;
$body-bg: $color-white;
$font-size-base: 14px;
$line-height-base: 1.428571429;
$text-color: $dark-color;
$link-color: $color-primary;
