$dark-color: #1e1e1e;
$color-black: #000;
$color-white: #fff;
$color-primary: #3369F3;
$color-grey: #999;
$color-grey-2: #525252;
$color-grey-light: #FBFBFB;
$color-grey-light-2: #efefef;
$color-grey-light-3: #f8f8f8;
$color-grey-border: #EAEAEA;
$color-red: #FF2F2F;
$color-bg-primary-hover: #E4EDFD;

$body-bg: $color-white;
$font-size-base: 14px;
$line-height-base:1.428571429;
$text-color: $dark-color;
$link-color: $color-primary;

