<div class="service-page">
	<h1 class="service-page__title text-center">500</h1>
	<div class="service-page__text">Мы уже фиксим</div>
	<a class="service-page__link table mx-auto" href="#">Назад к чатам</a>
</div>