<div class="chat__content-attach-btn relative">
	<div class="chat-popover chat__content-attach-popover absolute">
		<ul class="chat__content-attach-items-list reset-list">
			<li class="chat__content-attach-list-item">
				<input type="file" class="visually-hidden" id="file-attach" />
				<label
					class="chat__content-attach-label flex items-center cursor-pointer"
					for="file-attach"
				>
					<svg
						class="flex-shrink-0"
						width="22"
						height="22"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M4 1.5h14A2.5 2.5 0 0 1 20.5 4v10l-5.98-1.595A11.998 11.998 0 0 0 11.427 12h-.856c-1.043 0-2.083.136-3.091.405L1.5 14V4A2.5 2.5 0 0 1 4 1.5ZM0 4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4v14a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4Zm8 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
							fill="#3369F3"
						></path>
					</svg>
					<span class="chat__content-attach-label-text">
						Фото или Видео
					</span>
				</label>
			</li>
			<li class="chat__content-attach-list-item">
				<input type="file" class="visually-hidden" id="file-attach" />
				<label
					class="chat__content-attach-label flex items-center cursor-pointer"
					for="file-attach"
				>
					<svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M4 1.5h14A2.5 2.5 0 0 1 20.5 4v8H16a4 4 0 0 0-4 4v4.5H4A2.5 2.5 0 0 1 1.5 18V4A2.5 2.5 0 0 1 4 1.5ZM12 22H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4v14a4 4 0 0 1-4 4h-6Z"
							fill="#3369F3"
						></path>
					</svg>
					<span class="chat__content-attach-label-text">
						Файл
					</span>
				</label>
			</li>
		</ul>
	</div>
	<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="m6.187 12.5 7.576-7.576.943.943-7.577 7.576-.942-.943ZM8.7 15.014l7.577-7.576.943.943-7.577 7.576-.942-.943ZM14.043 20.357l7.576-7.576.943.942-7.576 7.576-.943-.942ZM16.557 22.87l7.577-7.575.942.942-7.576 7.577-.943-.943Z"
			fill="currentColor"
		></path>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M16.557 22.87c-2.615 2.616-6.845 2.625-9.449.022-2.603-2.604-2.594-6.834.021-9.45l-.942-.942c-3.139 3.138-3.15 8.215-.026 11.339 3.124 3.124 8.201 3.113 11.34-.025l-.944-.943ZM21.62 12.78l.942.943c2.441-2.44 2.45-6.389.02-8.819-2.43-2.43-6.379-2.421-8.82.02l.944.943c1.917-1.918 5.02-1.925 6.929-.016 1.91 1.91 1.902 5.012-.016 6.93Z"
			fill="currentColor"
		></path>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M8.7 15.014c-1.742 1.744-1.749 4.564-.013 6.3 1.736 1.735 4.556 1.73 6.3-.014l-.944-.943a3.118 3.118 0 0 1-4.41.01 3.118 3.118 0 0 1 .01-4.41l-.942-.943Z"
			fill="currentColor"
		></path>
	</svg>
</div>
<div class="chat__content-input-wrp flex-grow-1">
	<!--	<input-->
	<!--		type="text"-->
	<!--		class="full-w chat__content-input"-->
	<!--		placeholder="Сообщения"-->
	<!--	/>-->
	{{{messageInput}}}
</div>
<button type="submit" class="chat__content-send-btn flex items-justify-center">
	<svg width="13" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill="currentColor" d="M0 5.2h11v1.6H0z"></path>
		<path d="m7 1 4 5-4 5" stroke="currentColor" stroke-width="1.6"></path>
	</svg>
</button>
