---
bodyclass: not-auth h-screen w-screen
language: en
meta:
	author: Ilhom Maksadkulov
	description: 404 page of chat application
	keywords: Some, Meta, Keywords
	robots: index, follow
scripts:
	- ./index.js
stylesheets:
- ../../../scss/styles.scss
- ../../../scss/pages/service-page.scss
title: Регистрация
---
{{#extend "base"}}
	{{#content "main"}}
		<main class="flex items-center justify-center full-h-w">
			<div class="service-page ">
				<h1 class="service-page__title text-center">500</h1>
				<div class="service-page__text">Мы уже фиксим</div>
				<a class="service-page__link table mx-auto" href="#">Назад к чатам</a>
			</div>
		</main>
	{{/content}}
{{/extend}}
