<div class="wrapper">
	<div
		class="element circle skeleton-1"
		data-id="0"
		style="border-radius: 50%; z-index: 0; left: 377.5px; top: 14.5px; position: absolute; width: 101px; height: 93px; background-color: rgb(228, 228, 228);"
	></div>
	<div
		class="element box skeleton-2"
		data-id="1"
		style="z-index: 1; left: 238.5px; top: 126px; position: absolute; width: 373px; height: 34px; background-color: rgb(228, 228, 228);"
	></div>
	<div
		class="element box skeleton-3"
		data-id="2"
		style="z-index: 2; left: 238.5px; top: 174.5px; position: absolute; width: 372px; height: 32px; background-color: rgb(228, 228, 228);"
	></div>
	<div
		class="element box skeleton-4"
		data-id="3"
		style="z-index: 3; left: 239.5px; top: 222.5px; position: absolute; width: 371px; height: 32px; background-color: rgb(228, 228, 228);"
	></div>
	<div
		class="element box skeleton-5"
		data-id="4"
		style="z-index: 4; left: 237.5px; top: 268.5px; position: absolute; width: 372px; height: 35px; background-color: rgb(228, 228, 228);"
	></div>
</div>
