<div class="profile__data profile__data_profile">
	<ul class="profile__data-list reset-list">
		{{#each inputs}}
			{{{this}}}
		{{/each}}
	</ul>
</div>
<div class="profile__actions flex justify-center">
	<div class="profile__actions_save-btn">
		{{{saveButton}}}
	</div>
</div>