---
bodyclass: not-auth h-screen w-screen
language: en
meta:
	author: Ilhom Maksadkulov
	description: Sign in page of chat application
	keywords: Some, Meta, Keywords
	robots: index, follow
scripts:
	- ./index.js
stylesheets:
- ../../../scss/styles.scss
- ../../../scss/pages/sign-form.scss
- ./signin.scss
title: Вход
uri: /about
---
{{#extend "base"}}
	{{#content "main"}}
		<main class="flex items-center justify-center">
			<div class="sign-form flex flex-col">
				<h1 class="sign-form__heading">Вход</h1>
				<div class="sign-form__fields sign-form__fields_login">
					{{#each signin}}
						<div class="sign-form__field">
							<input placeholder="{{ this.label }}" type="{{this.type}}" class="sign-form__input" name="{{ this.name }}">
							{{#if this.showError}}
								<div class="sign-form__field-error error">Неверный {{this.label}}</div>
							{{/if }}
						</div>
					{{/each}}
				</div>
				<div class="sign-forms__buttons mt-auto text-center">
					<button type="button" class="sign-forms__main-btn btn block full-w">Авторизоваться</button>
					<a href="#" >Нет аккаунта?</a>
				</div>
			</div>
		</main>
	{{/content}}
{{/extend}}
