<div class="service-page ">
	<h1 class="service-page__title text-center">404</h1>
	<div class="service-page__text">Не туда попали</div>
	<a class="service-page__link table mx-auto" href="#">Назад к чатам</a>
</div>
