---
bodyclass: chat-page h-screen w-screen
language: en
meta:
	author: Ilhom Maksadkulov
	description: Sign in page of chat application
	keywords: Some, Meta, Keywords
	robots: index, follow
scripts:
	- ./index.ts
stylesheets:
- ../../../scss/styles.scss
- ../../../scss/pages/chat/index.scss
title: Chat
---
{{#extend "base"}}
	{{#content "main"}}
		<main class="full-h-w">
			<section class="chat full-h-w flex">
				<aside class="chat__sidebar flex-shrink-0">
					<div class="chat__header flex flex-col items-end">
						<a href="#" class="chat__profile-link flex items-center">
							<span>Профиль</span>
							<svg class="chat__profile-link-icon" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 9L5 5L1 1" stroke="currentColor"/>
							</svg>
						</a>
						<div class="chat__search full-w relative">
							<input type="search" class="chat__search-input border-none full-w block" placeholder="Поиск"/>
							<img src="../../../assets/img/icon-search.svg" class="chat__search-icon absolute" alt="">
						</div>
					</div>
					<div class="chat__list-wrapper">
						<div class="chat__list">
							<div class="chat__list-item">
								<div class="chat-item flex relative">
									<div class="chat-item__avatar flex-shrink-0"></div>
									<div class="chat-item__content flex-grow-1 flex ">
										<div class="chat-item__text-info flex-grow-1">
											<div class="chat-item__name">Илья</div>
											<div class="chat-item__last-msg-text">Друзья, у меня для вас особенный выпуск новостей!</div>
										</div>
										<div class="chat-item__meta-info flex-shrink-0">
											<div class="chat-item__date">10:49</div>
											<div class="chat-item__unread-count">2</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
				<div class="chat__content flex-grow-1 flex items-center justify-center">
					<p class="chat__not-selected-chat-text">Выберите чат чтобы отправить сообщение</p>
				</div>
			</section>
		</main>
	{{/content}}
{{/extend}}
