<!-- Doctype HTML5 -->
<!doctype html>
<html lang="ru" dir="ltr">
{{#block "head"}}
	<head>
		{{#block "meta"}}
			{{> meta}}
		{{/block}}
		{{#block "title"}}
			<title>{{title}}</title>
		{{/block}}
		{{#block "fonts"}}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
		{{/block}}
		{{#block "styles"}}
			{{#each stylesheets}}
				<link href="{{this}}" rel="stylesheet" />
			{{/each}}
		{{/block}}
	</head>
{{/block}}

{{#block "body"}}
	<body class="{{bodyclass}}">
	{{#block "header"}}
		{{> header}}
	{{/block}}

	{{#block "main"}}
	{{/block}}

	{{#block "footer"}}
		{{> footer}}
	{{/block}}

	{{#block "scripts"}}
		{{#each scripts}}
			<script type="module" src="{{this}}"></script>
		{{/each}}
	{{/block}}
	</body>
{{/block}}
</html>
